body{
  background-image: url(sky-bg.png);
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#player {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 100px;
  left: 100px;

  animation-name: bobbing;
animation-duration: 0.8s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-direction: alternate;
}

@keyframes bobbing {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

#directions{
  background-color: black;
  color: white;
  text-align: center;
  width: 40%;
  border: solid white 2px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50px;
}

#startGame{
  margin-bottom: 10px;
  font-size: 1.5rem;
  border-radius: 50px;
  background-color: white;
  border: solid lightgreen 5px;
  transition: 0.2s;
  padding: 7px;
}

#startGame:hover{
  padding: 13px;
  background-color: lightgreen;
  border: solid white 5px;
}

canvas {
  height: 100%;
  width: 100%;
}