body{
    background-image: url(sky-bg.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#player {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 100px;
    left: 100px;

    animation-name: bobbing;
  animation-duration: 0.8s; /* Control the speed */
  animation-iteration-count: infinite; /* Makes it loop forever */
  animation-timing-function: ease-in-out; /* Smooth start and end */
  animation-direction: alternate; /* Moves up, then reverses down smoothly */
}

@keyframes bobbing {
    from {
      transform: translateY(0px); /* Starting position */
    }
    to {
      transform: translateY(-20px); /* Moves up 20 pixels */
    }
  }

.moving-box {
    width: 50px;
    height: 500px;
    background-color: grey;
    position: absolute;
    transform: translateX(0);
}

#directions{
    background-color: black;
    color: white;
    text-align: center;
    width: 40%;
    border: solid white 2px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50px;
}

#startGame{
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-radius: 50px;
    background-color: white;
    border: solid lightgreen 5px;
    transition: 0.2s;
    padding: 7px;
}

#startGame:hover{
    padding: 13px;
    background-color: lightgreen;
    border: solid white 5px;
}